@font-face {
    font-family: "Flaticon";
    src: url("../fonts/flaticon2/font/Flaticon2.eot"); /* Use a different folder */
    src: url("../fonts/flaticon2/font/Flaticon2.eot?#iefix") format("embedded-opentype"),
         url("../fonts/flaticon2/font/Flaticon2.woff2") format("woff2"),
         url("../fonts/flaticon2/font/Flaticon2.woff") format("woff"),
         url("../fonts/flaticon2/font/Flaticon2.ttf") format("truetype"),
         url("../fonts/flaticon2/font/Flaticon2.svg#Flaticon") format("svg");
    font-weight: normal;
    font-style: normal;
  }

  
@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
      font-family: "Flaticon";
      src: url("../fonts/flaticon2/font/Flaticon2.svg#Flaticon") format("svg");
    }
  }
  
  [class^="flaticon-"]:before, [class*=" flaticon-"]:before,
  [class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
    font-family: Flaticon;
  font-style: normal;
  margin-left: 20px;
  }
  
  .flaticon-sun-umbrella:before { content: "\f100"; }
  .flaticon-king-size:before { content: "\f101"; }
  .flaticon-shower:before { content: "\f102"; }
  .flaticon-paragliding:before { content: "\f103"; }
  .flaticon-tour-guide:before { content: "\f104"; }
  .flaticon-route:before { content: "\f105"; }
  .flaticon-map:before { content: "\f106"; }