h3 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    color: var(--bs-heading-color);
}

h3 {
    font-size: calc(1.3rem + 0.6vw);
}

@media (min-width: 1200px) {
    h3 {
        font-size: 1.75rem;
    }
}

ul {
    padding-left: 2rem;
}

ul {
    margin-top: 0;
    margin-bottom: 1rem;
}

a {
    color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1));
    text-decoration: underline;
}

a:hover {
    --bs-link-color-rgb: var(--bs-link-hover-color-rgb);
}

input {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

[type=submit] {
    -webkit-appearance: button;
}

[type=submit]:not(:disabled) {
    cursor: pointer;
}

fieldset {
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
    .form-control {
        transition: none;
    }
}

.form-control:focus {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.form-control::placeholder {
    color: var(--bs-secondary-color);
    opacity: 1;
}

.form-control:disabled {
    background-color: var(--bs-secondary-bg);
    opacity: 1;
}

.fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
}

.fa-window-close:before {
    content: "\f410";
}

.fas {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
}

* {
    margin: 0px;
    padding: 0px;
    border: none;
    outline: none;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: #f20487;
}

a:hover,
a:focus,
a:visited {
    text-decoration: none;
    outline: none !important;
}

h3 {
    position: relative;
    font-weight: normal;
    margin: 0px;
    background: none;
    line-height: 1.6em;
    font-family: 'Ubuntu', sans-serif;
}

ul,
li {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.theme-btn {
    display: inline-block;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

::selection {
    background: #ec167f;
    color: #ffffff;
}

.theme-btn {
    position: relative;
    transition: all 300ms ease;
}

.overlay-layer {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    display: block;
}

.popup-visible {
    bottom: 0;
    visibility: visible;
    opacity: 1;
}

.close-search {
    position: absolute;
    right: 25px;
    top: 25px;
    font-size: 22px;
    color: #ffffff;
    cursor: pointer;
    z-index: 5;
}

.close-search:hover {
    opacity: 0.70;
}

.search-form {
    position: relative;
    padding: 0px 15px 0px;
    max-width: 1024px;
    margin: 0 auto;
    margin-top: 200px;
}

.search-form fieldset {
    position: relative;
    border: 7px solid rgba(255, 255, 255, 0.50);
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    -moz-border-radius: 12px;
}

.search-form fieldset input[type="search"] {
    position: relative;
    height: 70px!important;
    padding: 20px 220px 20px 30px;
    background: #ffffff;
    line-height: 30px;
    font-size: 24px;
    color: #233145;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    -moz-border-radius: 7px;
}

.search-form fieldset input[type="submit"] {
    position: absolute;
    display: block;
    right: 0px;
    top: 0px;
    text-align: center;
    width: 220px;
    height: 70px;
    padding: 20px 10px 20px 10px;
    color: #ffffff !important;
    background-color: #ec167f;
    line-height: 30px;
    font-size: 20px;
    color: #233145;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 0px 7px 7px 0px;
    -moz-border-radius: 0px 7px 7px 0px;
    -ms-border-radius: 0px 7px 7px 0px;
    -o-border-radius: 0px 7px 7px 0px;
    -webkit-border-radius: 0px 7px 7px 0px;
}

.search-form fieldset input[type="submit"]:hover {
    background: #ec167f;
}

h3 {
    font-size: 24px;
    color: #ffffff;
    margin-bottom: 20px;
    text-align: center;
}

.recent-searches {
    font-size: 16px;
    color: #ffffff;
    text-align: center;
}

.recent-searches li {
    display: inline-block;
    margin: 0px 10px 10px 0px;
}

.recent-searches li a {
    display: block;
    line-height: 24px;
    border: 1px solid #ffffff;
    padding: 7px 15px;
    color: #ffffff;
    border-radius: 3px;
}

.recent-searches li a:hover {
    color: #ec167f;
    border-color: #ec167f;
}

/*! CSS Used from: https://expert-themes.com/html/eventrox/css/responsive.css */
@media only screen and (max-width: 599px) {
    .search-form fieldset input[type="search"] {
        padding: 20px 20px;
    }

    .search-form fieldset input[type="submit"] {
        position: relative;
        width: 100%;
        display: block;
    }
}