<div class="modal-dialog">
  <div class="modal-content hero-form mt-0 grey-bg">
    <div class="modal-header">
      <h5 class="modal-title" id="bookingModalLabel">Book {{ hotel?.name }}</h5>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="modal"
        aria-label="Close"
      ></button>
    </div>
    <div class="modal-body">
      <!-- Available Places -->
      <div class="info-section">
        <p><strong>Available Places:</strong> {{ hotel?.availablePlaces }}</p>
      </div>

      <form [formGroup]="bookingForm" (ngSubmit)="onSubmit()">
        <!-- Offer Prices -->
        <div class="sb-group-input">
          <select
            id="offerPrices"
            formControlName="offerPrice"
            (change)="calculateTotalPrice()"
            required
          >
            <option *ngFor="let price of hotel?.offersPrices" [value]="price">
              € {{ price }}
            </option>
          </select>
          <span class="sb-bar"></span>
          <label>Select Offer Price</label>
        </div>

        <!-- Adult Places -->
        <div class="sb-group-input">
          <input
            type="number"
            id="adultPlaces"
            formControlName="adultPlaces"
            (input)="calculateAdults()"
            min="0"
            max="{{ hotel?.availablePlaces }}"
            required
          />
          <span class="sb-bar"></span>
          <label>Adult Places</label>
        </div>

        <div class="sb-group-input">
          <input
            type="number"
            id="babies"
            formControlName="babies"
            (input)="calculateTotalPrice()"
            min="0"
            max="{{ hotel?.availablePlaces }}"
            required
          />
          <span class="sb-bar"></span>
          <label>Babies (0-2 years)</label>
        </div>

        <div class="sb-group-input">
          <input
            type="number"
            id="children"
            formControlName="children"
            (input)="calculateTotalPrice()"
            min="0"
            max="{{ hotel?.availablePlaces }}"
            required
          />
          <span class="sb-bar"></span>
          <label>Children (2-12 years)</label>
        </div>

        <div class="sb-group-input">
          <input
            type="number"
            id="teens"
            formControlName="teens"
            (input)="calculateTotalPrice()"
            min="0"
            max="{{ hotel?.availablePlaces }}"
            required
          />
          <span class="sb-bar"></span>
          <label>Teens (12-18 years)</label>
        </div>

        <!-- Check-in Date -->
        <div class="sb-group-input">
          <input
            type="date"
            formControlName="checkInDate"
            required
            (change)="calculateTotalPrice()"
          />
          <span class="sb-bar"></span>
          <label>Check-in Date</label>
        </div>

        <!-- Check-out Date -->
        <div class="sb-group-input">
          <input
            type="date"
            formControlName="checkOutDate"
            required
            (change)="calculateTotalPrice()"
          />
          <span class="sb-bar"></span>
          <label>Check-out Date</label>
        </div>

        <!-- Total Price -->
        <div class="sb-group-input">
          <input
            type="number"
            [value]="totalPrice"
            placeholder="Total Price (€)"
            disabled
          />
          <span class="sb-bar"></span>
          <label>Total Price</label>
        </div>

        <!-- Submit Button -->
        <div class="col-sm-12 text-center">
          <div class="btn-box">
            <button type="submit" class="theme-btn btn-style-one book-btn">
              <span class="btn-title">Book Hotel</span>
            </button>
            
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

