h3 {
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}

h3 {
    font-size: calc(1.3rem + .6vw);
}

@media (min-width:1200px) {
    h3 {
        font-size: 1.75rem;
    }
}

button {
    border-radius: 0;
}

button:focus:not(:focus-visible) {
    outline: 0;
}

button,
input {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button {
    text-transform: none;
}

[type=submit],
button {
    -webkit-appearance: button;
}

[type=submit]:not(:disabled),
button:not(:disabled) {
    cursor: pointer;
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) * -.5);
    margin-left: calc(var(--bs-gutter-x) * -.5);
}

.row>* {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-top: var(--bs-gutter-y);
}

.col-12 {
    flex: 0 0 auto;
    width: 100%;
}

.gy-4 {
    --bs-gutter-y: 1.5rem;
}

@media (min-width:576px) {
    .col-sm-5 {
        flex: 0 0 auto;
        width: 41.66666667%;
    }
}

.mt-0 {
    margin-top: 0 !important;
}

.text-center {
    text-align: center !important;
}

h3 {
    font-family: "Ubuntu", sans-serif;
    color: #1a0a1e;
    font-weight: 700;
    margin-top: 0;
    line-height: 1.5;
    margin-bottom: 0;
}

h3 {
    font-size: 24px;
}

@media only screen and (max-width: 767px) {
    h3 {
        font-size: 20px;
    }
}

button {
    color: inherit;
    display: inline-block;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
}

button,
input {
    transition: all 0.3s linear;
    outline: 0;
}

button:focus,
input:focus {
    outline: 0;
}

button {
    cursor: pointer;
}

.grey-bg {
    background-color: #f1f3ff;
}



.hero-form {
    margin-top: 180px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 0 40px;
    padding-bottom: 60px;
}

.hero-form .form-title {
    font-size: 30px;
    color: #ffffff;
    padding: 40px 0;
}

.hero-form .form-title.black {
    color: #000000;
}

.hero-form .exvent-form .single-input {
    display: flex;
}

.hero-form .exvent-form .single-input input {
    border-radius: 0;
    background-color: #ebebeb;
    font-size: 14px;
    color: #000000;
    border: none;
    outline: none;
}

.hero-form .exvent-form .single-input input::placeholder {
    font-size: 14px;
    color: #9d9d9d;
    font-weight: 400;
}

.hero-form .exvent-form .single-input input:focus {
    border: none;
    outline: none;
}

.hero-form .exvent-form .single-input.white-bg input {
    background-color: #ffffff;
}








.theme-btn {
    display: inline-block;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.theme-btn {
    position: relative;
    transition: all 300ms ease;
}

.btn-style-one {
    position: relative;
    padding: 10px 30px;
    font-size: 16px;
    line-height: 30px;
    color: #ffffff;
    font-weight: 400;
    text-align: center;
    background-color: #f15d30;
    overflow: hidden;
    border-radius: 10px;
}

.btn-style-one .btn-title {
    position: relative;
}

.btn-style-one:before {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    content: "";
    background-color: #ffffff;
    -webkit-transform: scale(0, 1);
    -ms-transform: scale(0, 1);
    transform: scale(0, 1);
    -webkit-transform-origin: top right;
    -ms-transform-origin: top right;
    transform-origin: top right;
    -webkit-transition: transform 500ms cubic-bezier(0.86, 0, 0.07, 1);
    -moz-transition: transform 500ms cubic-bezier(0.86, 0, 0.07, 1);
    -o-transition: transform 500ms cubic-bezier(0.86, 0, 0.07, 1);
    transition: transform 500ms cubic-bezier(0.86, 0, 0.07, 1);
    -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
    -moz-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
    -o-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
    transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
}

.btn-style-one:hover:before {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
    -webkit-transform-origin: bottom left;
    -ms-transform-origin: bottom left;
    transform-origin: bottom left;
}

.theme-btn {
    display: inline-block;
    padding: 12px 20px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    border-radius: 6px;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
    white-space: nowrap;
}

.book-btn {
    background-color: #008fff;
    color: white;
    transition: all 0.3s ease-in-out;
}





@media all {
    label {
        display: inline-block;
        margin-bottom: .5rem;
    }

    input {
        margin: 0;
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
    }

    input {
        overflow: visible;
    }


    .sb-group-input {
        position: relative;
        margin-bottom: 30px;
    }

    .sb-group-input input {
        height: 50px;
        position: relative;
        padding: 0 20px;
        font-size: 14px;
        background-color: #f9fafc;
        display: block;
        width: 100%;
        border: none;
        border-bottom: 1px solid #f2f3f5;
    }

    .sb-group-input input:focus~.sb-bar:before {
        width: 100%;
    }

    .sb-group-input input:focus {
        outline: none;
    }

    .sb-group-input label {
        font-size: 14px;
        color: #6f6f87;
        font-weight: 400;
        position: absolute;
        pointer-events: none;
        left: 20px;
        top: 15px;
        transition: .3s ease-in-out;
    }

    .sb-group-input input:focus~label,
    .sb-group-input input:valid~label {
        top: -25px;
        left: 0;
        font-size: 12px;
        color: #231e41;
    }

    .sb-group-input input:valid~label:after {
        margin-left: 5px;
        font-family: Font Awesome\ 5 Free;
        font-weight: 900;
        content: "\f058";
        color: #f5c332;
    }

    .sb-group-input input:valid~.sb-bar:before {
        width: 100%;
    }

    .sb-group-input input:invalid~label:after {
        transform: scale(0);
    }

    .sb-group-input .sb-bar {
        position: relative;
        display: block;
        width: 100%;
    }

    .sb-group-input .sb-bar:before {
        content: "";
        height: 2px;
        width: 0;
        bottom: 1px;
        position: absolute;
        background: #f5c332;
        transition: all .2s ease;
        left: 0;
    }

    .sb-group-input input:focus~label {
        top: -25px;
        left: 0;
    }

    .sb-group-input select {
        height: 50px;
        position: relative;
        padding: 0 20px;
        font-size: 14px;
        background-color: #f9fafc;
        display: block;
        width: 100%;
        border: none;
        border-bottom: 1px solid #f2f3f5;
    }

    .sb-group-input select:valid~.sb-bar:before {
        width: 100%;
    }
    
}