section {
    display: block;
}

h1 {
    margin-top: 0;
    margin-bottom: .5rem;
}

ul {
    margin-top: 0;
    margin-bottom: 1rem;
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

a:hover {
    color: #0056b3;
    text-decoration: underline;
}

h1 {
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
}

h1 {
    font-size: 2.5rem;
}

.clearfix::after {
    display: block;
    clear: both;
    content: "";
}

* {
    margin: 0px;
    padding: 0px;
    border: none;
    outline: none;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: #f20487;
}

a:hover,
a:focus,
a:visited {
    text-decoration: none;
    outline: none !important;
}

h1 {
    position: relative;
    font-weight: normal;
    margin: 0px;
    background: none;
    line-height: 1.6em;
    font-family: 'Ubuntu', sans-serif;
}

.auto-container {
    position: static;
    max-width: 1200px;
    padding: 0px 15px;
    margin: 0 auto;
}

ul,
li {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

::selection {
    background: #ec167f;
    color: #ffffff;
}

.page-title {
    position: relative;
    text-align: center;
    overflow: hidden;
    z-index: 1;
    padding: 120px 0;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
}

.page-title h1 {
    position: relative;
    display: block;
    font-size: 60px;
    color: #ffffff;
    line-height: 1em;
    font-weight: 700;
    margin-bottom: 20px;
}

.page-title .bread-crumb {
    position: relative;
}

.page-title .bread-crumb li {
    position: relative;
    display: inline-block;
    font-size: 18px;
    line-height: 30px;
    color: #ffffff;
    font-weight: 500;
    cursor: default;
    padding-right: 15px;
    margin-right: 15px;
}

.page-title .bread-crumb li:before {
    position: absolute;
    right: -3px;
    font-size: 18px;
    line-height: 30px;
    color: #ffffff;
    font-weight: 400;
    content: "|";
}

.page-title .bread-crumb li:last-child {
    padding-right: 0;
    margin-right: 0;
}

.page-title .bread-crumb li:last-child:before {
    display: none;
}

.page-title .bread-crumb li a {
    color: #ffffff;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}

.page-title .bread-crumb li a:hover {
    color: #f0c52e;
}

/*! CSS Used from: https://expert-themes.com/html/eventrox/css/responsive.css */
@media only screen and (max-width: 767px) {
    .page-title {
        padding: 80px 0;
    }

    .page-title h1 {
        font-size: 40px;
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 599px) {
    .page-title h1 {
        font-size: 34px;
        line-height: 1.2em;
    }

    .page-title h1 {
        font-size: 40px;
        margin-bottom: 10px;
    }
}



/*! CSS Used from: https://expert-themes.com/html/eventrox/css/bootstrap.css */
*,
::after,
::before {
    box-sizing: border-box;
}

section {
    display: block;
}

h2 {
    margin-top: 0;
    margin-bottom: .5rem;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

ul {
    margin-top: 0;
    margin-bottom: 1rem;
}

strong {
    font-weight: bolder;
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

a:hover {
    color: #0056b3;
    text-decoration: underline;
}

button {
    border-radius: 0;
}

button:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color;
}

button,
input,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button,
input {
    overflow: visible;
}

button {
    text-transform: none;
}

[type=submit],
button {
    -webkit-appearance: button;
}

textarea {
    overflow: auto;
    resize: vertical;
}

h2 {
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
}

h2 {
    font-size: 2rem;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col-lg-12,
.col-lg-4,
.col-lg-6,
.col-lg-8,
.col-md-12,
.col-md-6,
.col-sm-12 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.order-2 {
    -ms-flex-order: 2;
    order: 2;
}

@media (min-width:576px) {
    .col-sm-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (min-width:768px) {
    .col-md-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-md-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (min-width:992px) {
    .col-lg-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }

    .col-lg-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-lg-8 {
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }

    .col-lg-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

.form-group {
    margin-bottom: 1rem;
}

.clearfix::after {
    display: block;
    clear: both;
    content: "";
}

@media print {

    *,
    ::after,
    ::before {
        text-shadow: none !important;
        box-shadow: none !important;
    }

    a:not(.btn) {
        text-decoration: underline;
    }

    h2,
    p {
        orphans: 3;
        widows: 3;
    }

    h2 {
        page-break-after: avoid;
    }
}

/*! CSS Used from: https://expert-themes.com/html/eventrox/css/style.css */
/*! @import https://expert-themes.com/html/eventrox/css/fontawesome-all.css */
.fa,
.fab {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
}

.fa-clock:before {
    content: "\f017";
}

.fa-dribbble:before {
    content: "\f17d";
}

.fa-envelope:before {
    content: "\f0e0";
}

.fa-facebook:before {
    content: "\f09a";
}

.fa-google-plus:before {
    content: "\f2b3";
}

.fa-map-marker-alt:before {
    content: "\f3c5";
}

.fa-phone-volume:before {
    content: "\f2a0";
}

.fa-pinterest:before {
    content: "\f0d2";
}

.fa-twitter:before {
    content: "\f099";
}

.fab {
    font-family: 'Font Awesome 5 Brands';
}

.fa {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
}

/*! end @import */
* {
    margin: 0px;
    padding: 0px;
    border: none;
    outline: none;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: #f20487;
}

button,
a:hover,
a:focus,
a:visited {
    text-decoration: none;
    outline: none !important;
}

h2 {
    position: relative;
    font-weight: normal;
    margin: 0px;
    background: none;
    line-height: 1.6em;
    font-family: 'Ubuntu', sans-serif;
}

textarea {
    overflow: hidden;
}

p {
    position: relative;
    font-size: 16px;
    line-height: 26px;
    color: #888888;
    font-weight: 400;
}

.auto-container {
    position: static;
    max-width: 1200px;
    padding: 0px 15px;
    margin: 0 auto;
}

ul,
li {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.theme-btn {
    display: inline-block;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

::selection {
    background: #ec167f;
    color: #ffffff;
}

.theme-btn {
    position: relative;
    transition: all 300ms ease;
}

.btn-style-one {
    position: relative;
    padding: 10px 30px;
    font-size: 16px;
    line-height: 30px;
    color: #ffffff;
    font-weight: 400;
    text-align: center;
    background-color: #ec167f;
    overflow: hidden;
    border-radius: 10px;
}

.btn-style-one .btn-title {
    position: relative;
}

.btn-style-one:hover {
    color: #ec167f;
    -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.10);
    -moz-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.10);
    -ms-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.10);
    -o-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.10);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.10);
}

.btn-style-one:before {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    content: "";
    background-color: #ffffff;
    -webkit-transform: scale(0, 1);
    -ms-transform: scale(0, 1);
    transform: scale(0, 1);
    -webkit-transform-origin: top right;
    -ms-transform-origin: top right;
    transform-origin: top right;
    -webkit-transition: transform 500ms cubic-bezier(0.860, 0.000, 0.070, 1.000);
    -moz-transition: transform 500ms cubic-bezier(0.860, 0.000, 0.070, 1.000);
    -o-transition: transform 500ms cubic-bezier(0.860, 0.000, 0.070, 1.000);
    transition: transform 500ms cubic-bezier(0.860, 0.000, 0.070, 1.000);
    -webkit-transition-timing-function: cubic-bezier(0.860, 0.000, 0.070, 1.000);
    -moz-transition-timing-function: cubic-bezier(0.860, 0.000, 0.070, 1.000);
    -o-transition-timing-function: cubic-bezier(0.860, 0.000, 0.070, 1.000);
    transition-timing-function: cubic-bezier(0.860, 0.000, 0.070, 1.000);
}

.btn-style-one:hover:before {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
    -webkit-transform-origin: bottom left;
    -ms-transform-origin: bottom left;
    transform-origin: bottom left;
}

.social-icon-two {
    position: relative;
    display: block;
}

.social-icon-two li {
    position: relative;
    display: inline-block;
    margin-right: 8px;
    margin-bottom: 10px;
}

.social-icon-two li a .fab {
    position: relative;
    display: block;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 16px;
    border: 1px solid #dddddd;
    background-color: #ffffff;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}

.social-icon-two li a:hover .fab {
    color: #ffffff;
    background-color: #d24c59;
}

.sec-title {
    position: relative;
    margin-bottom: 70px;
}

.sec-title h2 {
    position: relative;
    display: inline-block;
    font-size: 48px;
    line-height: 1.2em;
    color: #1e1f36;
    font-weight: 700;
}

.contact-page-section {
    position: relative;
    padding: 110px 0 70px;
}

.contact-page-section .form-column {
    position: relative;
    margin-bottom: 40px;
}

.contact-page-section .form-column .inner-column {
    position: relative;
}

.contact-page-section .sec-title {
    margin-bottom: 30px;
}

.contact-page-section .sec-title h2 {
    font-size: 32px;
}

.contact-form .form-group {
    position: relative;
    margin-bottom: 30px;
}

.contact-form .form-group:last-child {
    margin-bottom: 0;
}

.contact-form .form-group input[type="text"],
.contact-form .form-group input[type="email"],
.contact-form .form-group textarea {
    position: relative;
    display: block;
    width: 100%;
    font-size: 18px;
    color: #555555;
    line-height: 32px;
    padding: 15px 30px;
    border: 1px solid #f1f1f1;
    background-color: #f1f1f1;
    font-weight: 400;
    height: 64px;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}

.contact-form .form-group input:focus,
.contact-form .form-group textarea:focus {
    border-color: #f20487;
}

.contact-form .form-group textarea {
    height: 156px;
    resize: none;
}

.contact-form .form-group button {
    text-transform: capitalize;
}

.contact-page-section .contact-column {
    position: relative;
    margin-bottom: 30px;
}

.contact-page-section .contact-info {
    position: relative;
    margin-bottom: 37px;
}

.contact-page-section .contact-info li {
    position: relative;
    padding-left: 55px;
    margin-bottom: 30px;
}

.contact-page-section .contact-info li p {
    display: block;
    font-size: 14px;
    line-height: 24px;
    color: #777777;
    font-weight: 400;
    margin: 0;
}

.contact-page-section .contact-info li strong {
    display: block;
    font-size: 16px;
    line-height: 20px;
    color: #222222;
    font-weight: 600;
}

.contact-page-section .contact-info li .icon {
    position: absolute;
    left: 0;
    top: 0;
    height: 40px;
    width: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
    background-color: #1c94d2;
    color: #ffffff;
}

.contact-page-section .contact-info li a {
    color: #777777;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}

.contact-page-section .contact-info li a:hover {
    color: #f20487;
}

.social-icon-colored .fa-dribbble {
    color: #F46899;
}

.social-icon-colored .fa-facebook {
    color: #3C599F;
}

.social-icon-colored .fa-google-plus {
    color: #CF3D2E;
}

.social-icon-colored .fa-pinterest {
    color: #CC2127;
}

.social-icon-colored .fa-twitter {
    color: #32CCFE;
}

.social-icon-colored li a:hover .fa-dribbble {
    background-color: #F46899;
}

.social-icon-colored li a:hover .fa-facebook {
    background-color: #3C599F;
}

.social-icon-colored li a:hover .fa-google-plus {
    background-color: #CF3D2E;
}

.social-icon-colored li a:hover .fa-pinterest {
    background-color: #CC2127;
}

.social-icon-colored li a:hover .fa-twitter {
    background-color: #32CCFE;
}

.social-icon-colored li a:hover .fab {
    color: #ffffff;
}

/*! CSS Used from: https://expert-themes.com/html/eventrox/css/responsive.css */
@media only screen and (max-width: 1023px) {
    .contact-page-section .contact-column {
        order: 0;
    }
}

@media only screen and (max-width: 767px) {
    .sec-title {
        margin-bottom: 40px;
    }

    .sec-title h2 {
        font-size: 42px;
    }

    .contact-page-section {
        padding: 70px 0 20px;
    }
}

@media only screen and (max-width: 599px) {
    .sec-title h2 {
        font-size: 34px;
        line-height: 1.2em;
    }
}

/*! CSS Used from: https://expert-themes.com/html/eventrox/css/bootstrap.css */
*,
::after,
::before {
    box-sizing: border-box;
}

section {
    display: block;
}

/*! CSS Used from: https://expert-themes.com/html/eventrox/css/style.css */
* {
    margin: 0px;
    padding: 0px;
    border: none;
    outline: none;
}

.auto-container {
    position: static;
    max-width: 1200px;
    padding: 0px 15px;
    margin: 0 auto;
}

::selection {
    background: #ec167f;
    color: #ffffff;
}

.map-section {
    position: relative;
    display: block;
    padding-bottom: 120px;
}

.map-section .map-outer iframe {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 540px;
    margin-bottom: -10px;
}

/*! CSS Used from: https://expert-themes.com/html/eventrox/css/responsive.css */
@media only screen and (max-width: 767px) {
    .map-section {
        padding-bottom: 70px;
    }
}