.hero-wrap {
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.hero-wrap,.overlay{
  height: 700px;

}
/* Make the inner row full height */
.hero-wrap .slider-text {
  height: 100%;
}

/* Responsive adjustments */
@media (max-width: 1024px) {
  .hero-wrap,.overlay {
      height: 500px;
      /* Medium screens (tablets) */
  }
}

@media (max-width: 768px) {
  .hero-wrap,.overlay {
      height: 400px;
      /* Smaller screens (mobile) */
  }
}

@media (max-width: 480px) {
  .hero-wrap,.overlay {
      height: 300px;
      /* Extra small screens */
  }
}

.testimony-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .4;
}

.ftco-no-pt{
  margin-top: 6%;
}
.special-border{
  border-radius: 12px;
}

.about-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Adjust overlay color if needed */
}

.ftco-about .about-intro {
  margin-top: -8%;
}

.services{
  border-radius: 10px;
  overflow: hidden;
}