<!-- <footer class="ftco-footer bg-bottom ftco-no-pt" style="background-image: url(image/bg0.jpg); margin-top: 180px;">
    <div class="container">
      <div class="row mb-5">
        <div class="col-md pt-5">
          <div class="ftco-footer-widget pt-md-5 mb-4">
            <h2 class="ftco-heading-2">About</h2>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the
              blind texts.</p>
            <ul class="ftco-footer-social list-unstyled float-md-left float-lft">
              <li class="ftco-animate"><a href="#"><span class="fa fa-twitter"></span></a></li>
              <li class="ftco-animate"><a href="#"><span class="fa fa-facebook"></span></a></li>
              <li class="ftco-animate"><a href="#"><span class="fa fa-instagram"></span></a></li>
            </ul>
          </div>
        </div>
        <div class="col-md pt-5 border-left">
          <div class="ftco-footer-widget pt-md-5 mb-4 ml-md-5">
            <h2 class="ftco-heading-2">Infromation</h2>
            <ul class="list-unstyled">
              <li><a href="#" class="py-2 d-block">Online Enquiry</a></li>
              <li><a href="#" class="py-2 d-block">General Enquiries</a></li>
              <li><a href="#" class="py-2 d-block">Booking Conditions</a></li>
              <li><a href="#" class="py-2 d-block">Privacy and Policy</a></li>
              <li><a href="#" class="py-2 d-block">Refund Policy</a></li>
              <li><a href="#" class="py-2 d-block">Call Us</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md pt-5 border-left">
          <div class="ftco-footer-widget pt-md-5 mb-4">
            <h2 class="ftco-heading-2">Experience</h2>
            <ul class="list-unstyled">
              <li><a href="#" class="py-2 d-block">Adventure</a></li>
              <li><a href="#" class="py-2 d-block">Hotel and Restaurant</a></li>
              <li><a href="#" class="py-2 d-block">Beach</a></li>
              <li><a href="#" class="py-2 d-block">Nature</a></li>
              <li><a href="#" class="py-2 d-block">Camping</a></li>
              <li><a href="#" class="py-2 d-block">Party</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md pt-5 border-left">
          <div class="ftco-footer-widget pt-md-5 mb-4">
            <h2 class="ftco-heading-2">Have a Questions?</h2>
            <div class="block-23 mb-3">
              <ul>
                <li><span class="icon fa fa-map-marker"></span><span class="text">203 Fake St. Mountain View, San
                    Francisco, California, USA</span></li>
                <li><a href="#"><span class="icon fa fa-phone"></span><span class="text">+2 392 3929 210</span></a></li>
                <li><a href="#"><span class="icon fa fa-paper-plane"></span><span
                      class="text">infoyourdomain.com</span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="text-center">
  
          <p>
  
          </p>
        </div>
      </div>
    </div>
  </footer> -->

  <div class="footer-section" style="background-image: url(images/bg_2.jpg);">
    <div class="container">
        <div class="footer-newsletter">
            <div class="row">
                <div class="col-lg-5 col-12 text-sm-start text-center">
                    <div class="footer-title">
                        <span>Subscribe Newsletter</span>
                        <h4>Subscribe to recieve
                            daily news</h4>
                    </div>
                </div>
                <div class="col-lg-7 col-12">
                    <div class="footer-newsletter-form">
                        <form action="#">
                            <input type="text" placeholder="Your Email">
                            <button class="btn btn-primary">Subscribe</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-widget-social">
        <div class="container">
            <div class="row text-center">
                <div class="col-12">
                    <div class="social-title">
                        <h4 class="title">Contact With us</h4>
                    </div>
                </div>
                <div class="col-12">
                    <ul class="social-list">
                        <li><a href="www.facebook.com"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="www.twitter.com"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="www.dribbble.com"><i class="fab fa-dribbble"></i></a></li>
                        <li><a href="www.behance.com"><i class="fab fa-behance"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-widget-navigation text-center">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="footer-navigation">
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li><a href="about.html">About Us</a></li>
                            <li><a href="blog-details.html">Sponsors</a></li>
                            <li><a href="event-schedule.html">Schedule</a></li>
                            <li><a href="blog-details.html">Blog</a></li>
                            <li><a href="contact.html">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer Copyright Start -->
    <div class="footer-copyright-area">
        <div class="container">
            <div class="footer-copyright-wrap">
                <div class="row align-items-center">
                    <div class="col-lg-12">
                        <!-- Footer Copyright Text Start -->
                        <div class="copyright-text text-center">
                            <p>2023 Copyright Expotin Designed by Love . All Rights Reserved</p>
                        </div>
                        <!-- Footer Copyright Text End -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Copyright End -->
</div>