::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: orangered !important;

}

::-webkit-scrollbar-thumb:hover {
    background-color: orangered !important;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}