<div class="main-wrapper">


  <section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url(&quot;images/bg/about_page_bg.jpg&quot;); ">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-center" style="">
        <div class="col-md-9 ftco-animate pb-5 text-center fadeInUp ftco-animated">
         <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i class="fa fa-chevron-right"></i></a></span> <span>Blog <i class="fa fa-chevron-right"></i></span></p>
         <h1 class="mb-0 bread">Blog</h1>
       </div>
     </div>
   </div>
  </section>





    <div class="blog-list-page section-padding-04">
        <div class="container">
          <div class="row justify-content-between gx-5">
            <div class="col-lg-12">
              <div *ngFor="let blog of getSlice()" class="single-blog">
                <div class="blog-header">
                  <div class="blog-thumbnail">
                    <a href="#">
                      <img [src]="blog.image" [alt]="blog.title" class="blog-img" />
                    </a>
                  </div>
                  <h5 class="blog-event-date">
                    <span class="month" [ngClass]="blog.bgColor">{{ blog.month }}</span>
                    <span class="year">{{ blog.year }}</span>
                  </h5>
                </div>
                <div class="blog-body">
                  <div class="blog-details">
                    <a href="#" class="author">
                      <span><i class="far fa-user"></i></span> {{ blog.author }}
                    </a>
                    <a href="#" class="comment">
                      <span><i class="far fa-calendar-alt"></i></span>
                      {{ blog.comments }} comments
                    </a>
                  </div>
                  <a href="blog-details.html">
                    <h4 class="blog-title">{{ blog.title }}</h4>
                  </a>
                  <p class="blog-content">{{ blog.content }}</p>
                </div>
              </div>
      
              <!-- Pagination Component -->
              <app-pagination [perPage]="perPage" [total]="blogs.length"></app-pagination>
            </div>
          </div>
        </div>
      </div>
      


</div>