<div class="main-wrapper">







    <div class="section exvent-hero-section d-lg-flex d-block align-items-center inner-page-hero"
        style="background-image: url(images/bg/about_page_bg.jpg);">
        <img class="shape-1 img-fluid" src="images/shape/hero_shape1.png" alt="">
        <img class="shape-2 img-fluid" src="images/shape/hero_shape2.png" alt="">

        <div class="container">
            <div class="row exvent-hero-row justify-content-center">
                <div class="col-lg-8 text-center">
                    <div class="page-title">
                        <h2 class="section-title">Blog</h2>
                    </div>
                    <div class="page-navigation">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb justify-content-center" style="background-color: transparent;">
                                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                <li class="breadcrumb-item"><a href="blog.html">Blog</a></li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero End -->

    <!-- Blog List Page Start -->
    <div class="blog-list-page section-padding-04">
        <div class="container">
          <div class="row justify-content-between gx-5">
            <div class="col-lg-12">
              <div *ngFor="let blog of getSlice()" class="single-blog">
                <div class="blog-header">
                  <div class="blog-thumbnail">
                    <a href="#">
                      <img [src]="blog.image" [alt]="blog.title" class="blog-img" />
                    </a>
                  </div>
                  <h5 class="blog-event-date">
                    <span class="month" [ngClass]="blog.bgColor">{{ blog.month }}</span>
                    <span class="year">{{ blog.year }}</span>
                  </h5>
                </div>
                <div class="blog-body">
                  <div class="blog-details">
                    <a href="#" class="author">
                      <span><i class="far fa-user"></i></span> {{ blog.author }}
                    </a>
                    <a href="#" class="comment">
                      <span><i class="far fa-calendar-alt"></i></span>
                      {{ blog.comments }} comments
                    </a>
                  </div>
                  <a href="blog-details.html">
                    <h4 class="blog-title">{{ blog.title }}</h4>
                  </a>
                  <p class="blog-content">{{ blog.content }}</p>
                </div>
              </div>
      
              <!-- Pagination Component -->
              <app-pagination [perPage]="perPage" [total]="blogs.length"></app-pagination>
            </div>
          </div>
        </div>
      </div>
      


</div>