.single-blog {
    display: flex;
    box-shadow: 0px 0px 45px rgba(0, 0, 0, 0.1);
    border-radius: 10px;

}
.rating{
    margin-top: -7px;
}

.margin-bottom{
    margin-bottom: 30px;
}
 .single-blog .part-img img {
    height: 372px;
    width: auto;
    max-width: none;
    border-radius: 10px;
}
.single-blog .part-text {
    padding: 40px;
}
 .single-blog .part-text span.post-category {
    display: table;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 15px;
    line-height: 17px;
    letter-spacing: 3px;    
    background-image: linear-gradient(135.89deg, #dc9fac -5.11%, #fa341e 97.89%);
    color: #f2f2f2 !important;
    
    margin: -3px 0 15px;
}
.post-title-description {
    color: #8fcff1 !important;
}

:host.single-blog .part-text h3.blog-post-title {
    margin-bottom: 12px;
    font-weight: 600;
    font-size: 24px;
    line-height: 34px;
    
    //background-image: linear-gradient(144.14deg, #87cabe -11.44%, #305B9F 123.42%);
    opacity: 0.9;
}
 .single-blog .part-text p {
    margin-bottom: 19px;
    font-weight: 400;
    font-size: 17px;
    line-height: 33px;
    color: #5C6172;
}
@media (max-width: 1399.98px) {
  .single-blog .part-text span.post-category {
        margin-bottom: 14px;
    }
}
.g-4, .gy-4 {
    --bs-gutter-y: 1.5rem;
}

@media (max-width: 991.98px) {
    .single-blog .part-img img {
        height: auto;
        width: 100%;
        max-width: 100%;
    }
}


@media (max-width: 767.98px) {
    .single-blog .part-text {
        padding: 40px;
    }
}

@media (min-width: 768px) {
    .col-md-6 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}
@media (max-width: 991.98px) {
    .single-blog {
        flex-direction: column;
    }
}
@media (max-width: 991.98px) {
    .single-blog .part-img   {
        min-height: 300px!important;
        width: 100%;
        max-width: 100%;
    }
}
@media (min-width: 991.98px) {
    .blog-posts .single-blog .part-img  {
    display: none;
    }
}

@media (992px > width > 768px) {
    .col-md-4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .col-md-8 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}
.fa-star {
    color: rgba(249, 234, 24, 0.897);            
    font-size: 22px;                
    position: relative;          
    display: inline-block;
    padding: 2px;
    transition: transform 0.5s ease, color 0.5s ease; 
  }
  .fa-star:hover {
    color: rgba(24, 249, 241, 0.897);     
    scale: 1.2;       
  }
  


